.line_chart {
  width: 48%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 16px;
}
.main__content_body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.table_chart_wrapper {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 25px;
  margin-top: 35px;
}
.MainContentLeftCharts__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .main__content_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  .line_chart {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    padding: 16px;
    margin-top: 35px;
  }
}
